
{% set post = __SELF__.post %}
{% set prev = __SELF__.prev %}
{% set next = __SELF__.next %}

{% set debug %}

    {% for category in categories %}
        {% if loop.first %}
            <pre>
        {% endif %}


        id: {{ category.id }}
        name: {{ category.name }}
        slug: {{ category.slug }}

        {% if loop.last %}
            </pre>
        {% endif %}

    {% endfor %}

    <hr>

    {% for post in posts %}
        {% if loop.first %}
            <pre>
        {% endif %}

                id: {{ post.id }}
                title: {{ post.title }}
                slug: {{ post.slug }}

        {% if loop.last %}
            </pre>
        {% endif %}

    {% endfor %}


{% endset %}

<h1>{{ post.title }}</h1>

{% if post.excerpt %}
    <p><i>{{ post.excerpt }}</i></p><br>
{% endif %}

{% if post.content %}
    {{ post.content_html|md }}
    <div class="spacer"><hr></div>
{% endif %}

{% if post.results %}
    <div class="uitslagen">{{ post.results|md }}</div>
{% endif %}

<div class="spacer"></div>

<ul class="pager">

    {% if prev.url %}
        <li class="pager--left">
            <a href="{{ prev.url }}">Vorig verslag</a>
        </li>
    {% else %}
        <li class="pager--left-empty">&nbsp;</li>
    {% endif %}

    {% if post.categories.count %}
        <li class="pager--center">
            {% for category in post.categories %}
                <a href="{{ category.url }}">Terug naar {{ category.name | lower }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
        </li>
    {% else %}
        <li class="pager--center">&nbsp;</li>
    {% endif %}

    {% if next.url %}
        <li class="pager--right">
            <a href="{{ next.url }}">Volgend verslag</a>
        </li>
    {% else %}
        <li class="pager--right-empty">&nbsp;</li>
    {% endif %}

</ul>

{% set debug %}
    <h2>published_at: {{ post.published_at }}</h2>
    <h2>published: {{ post.published }}</h2>
    <h3>{{ post.url }}</h3>
{% endset %}


{% set debug %}

{% if post.featured_images.count %}
    <div class="featured-images text-center">
        {% for image in post.featured_images %}
            <p>
                <img
                    data-src="{{ image.filename }}"
                    src="{{ image.path }}"
                    alt="{{ image.description }}"
                    style="max-width: 100%" />
            </p>
        {% endfor %}
    </div>
{% endif %}

<p class="info">
    Posted
    {% if post.categories.count %} in
        {% for category in post.categories %}
            <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
    {% endif %}
    on {{ post.published_at|date('M d, Y') }}
</p>

{% endset %}
