
{% set post = __SELF__.post %}
{% set prev = __SELF__.prev %}
{% set next = __SELF__.next %}

<h1>{{ post.title }}</h1>

<div class="content">{{ post.content_html|raw }}</div>

{% if post.featured_images.count %}
    <div class="featured-images text-center">
        {% for image in post.featured_images %}
            <p>
                <img
                    data-src="{{ image.filename }}"
                    src="{{ image.path }}"
                    alt="{{ image.description }}"
                    style="max-width: 100%" />
            </p>
        {% endfor %}
    </div>
{% endif %}

<p class="info">
    Posted
    {% if post.categories.count %} in
        {% for category in post.categories %}
            <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
    {% endif %}
    on {{ post.published_at|date('M d, Y') }}
</p>

<hr>

<table border="1" padding="10" spacing="10">
    <tr>
        <td style="text-align: left;" width="33%">
{% if prev.url %}
    <a href="{{ prev.url }}" style="color: green;">{{ prev.title }}</a>
{% else %}
    <a href="" style="color: red;">&lt;&lt;</a>
{% endif %}
        </td>
        <td style="text-align: center;" width="33%">
<a href="#">| Overzicht |</a>
        </td>
        <td style="text-align: right;" width="33%">
    {% if next.url %}
        <a href="{{ next.url }}" style="color: green;">{{ next.title }}</a>
    {% else %}
        <a href="" style="color: red;">&gt;&gt;</a>
    {% endif %}
        </td>
    </tr>
</table>

<hr>
